<br><br>
<div class="login">
  <div class="container">
   <div class="form_signup">
      <h1>Vos Informations</h1>
	<div>  Nom d'utilisateur: <%= @user.username %></div>
    <div>   Nom : <%= @user.last_name %></div>
    <div>   Prénom :<%= @user.first_name  %></div>
    <div>   Adresse Email :<%= @user.email %></div>
          
   </div>
  </div>
</div>