<br><br><div class="login">
  <div class="container">
    <div class="form_signup">
      <h1>Editer La Categorie</h1>
      <%= render 'form' %><br>
      <%= link_to 'Retour', categories_path %>
    </div>
  </div>
</div>