<br><br><div class="login">
  <div class="container">
    <div class="form_signup">
      <h1>New Sale</h1>
          <%= render :partial => 'form' %>
            <%= link_to 'Retour', sales_path %> 
    </div>
    </div>
    </div>